/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;


}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.titleAlpha {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button, .add-button, .delete {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
}

.link{
  text-decoration: none;
}
.button:hover, .add-button:hover, .delete:hover {
  background-color: #0056b3;
}

.books {
  display: flex;
  flex-direction: column;
}

.book {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
}

.price {
  font-weight: bold;
  color: #333;
}
.al{
  font-weight: 200;
}

.book-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.update {
  font-weight: bold;
  color: orange;
  text-decoration: none;
}

.update:hover {
  text-decoration: solid;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}
